{% block _tasklist_task_widget %}
    <table class="taskTable" id="tasks" data-prototype="{{ form_row(prototype)|e }}">
        <thead>
        <tr class="grid-row-titles">
            <th> Libellé </th>
            <th class="last-column">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block _tasklist_task_entry_row %}
    <tr>
        <td> {{ form_widget(form.name) }} </td>
        <td class="last-column">
            <button class="btn btn-small btn-danger tooltip_msg" data-original-title="{{ 'mutual.tooltip.delete'|trans }}" type="button" onclick="removeCollectionRow(this, 'tasks')">
                <i class="icon-trash"></i>
            </button>
        </td>
    </tr>
{% endblock %}